*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  font-family: "Lato",cursive;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem;

}
.header-main{
  height: 100vh;
  background-image:linear-gradient(to right bottom, rgba(86, 88, 246, .5), rgba(40, 160, 80, 0.5)) , url(../image/index.jpg);
  background-size: cover;
  background-position: center;
  /* clip-path: polygon(0 0,100% 0,100% 70%,0 70%); */
  position: relative;
}
.main-head{
  color: #fff;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 1rem;
  text-transform: uppercase;
  position: absolute;
  top: 30%;
  left: 35%;
  transform: translate(-40%,-35%);
  animation-name: topToBottom;
  animation-duration: 1s;
}

.sub-head{
  color: #fff;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: .5rem;
  text-transform: capitalize;
  position: absolute;
  top: 40%;
  left: 35%;
  animation-name: toRight;
  animation-duration: 2s;
}

.main-link{
  position: absolute;
  top: 50%;
  left: 3%;
  display: inline-block;
  float: left;
}

/* .btn{
  font-size: 3rem;
  font-weight: 400;
  color: #fff;
  background-color: orange;
  padding: 2rem 5rem;
  text-decoration: none;
  margin: 5rem;
  border-radius: 3rem;
} */
.btn{
  font-size: 3rem;
  font-weight: 400;
  color: #fff;
  background-color: orange;
  padding: 2rem 5rem;
  text-decoration: none;
  margin: 5rem;
  border-radius: 3rem;
  display: block;
}
.btn:hover{
  background-color: #fff;
  color: orange;
}

@keyframes topToBottom {
  0%{
    opacity: 0;
    transform: translateY(-100px);
  }
   70%{
     transform: translateX(-30px);
   }

  100%{
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes toRight{
  0%{
    opacity: 0;
    transform: rotate(23deg);
  }

  70%{
    transform: rotate(46deg);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }
}
