body{
  background-color: rgba(0, 0, 0,0.7);
}
.container{
  display: grid;
  display: inline-grid;
  grid-template-columns: repeat(auto,minmax(200px,1fr));
  grid-gap: 10px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;

}
.main-page-header{
  display: inline-block;
  margin: 10px 5px;

}
h1{
  font-family:cursive;
  font-family: 'Lobster', cursive;
  font-size: 5rem;
  color: rgb(114, 237, 224);
  border-bottom: 3px solid rgba(114, 237, 224,0.7);
  width: 20rem;
}

.nav-mainpage{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin:20px 30px auto auto;
}
.btn-primary{
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 20px;
}
img{
  width: 1920px;
  height: 1080px;
  margin: 5px;
}
